Authors: Eddie Ramirez and Jenny Chen

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
import geopandas as gpd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import contextily as ctx

In [6]:
from geopandas_view import view

In [7]:
import geopandas

In [8]:
## Importing Demographic profile 2018 & Age_and_Sex tracts for 2018

In [9]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
# list files
b.ls("census/demographic_profile/2018/")
# download
b.fetch("census/demographic_profile/2018/", "./2018/")

100%|██████████| 3.23G/3.23G [00:26<00:00, 123MB/s]

In [10]:
b.fetch("census/demographic_profile/2018/acs_2018_X01_AGE_AND_SEX_tract.parquet", "./acs_2018_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.2M/23.2M [00:03<00:00, 6.53MB/s]

In [43]:
tracts = pandas.read_parquet('./acs_2018_X01_AGE_AND_SEX_tract.parquet')

In [44]:
tracts.head()

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US01001020100,1923.0,929.0,22.0,35.0,67.0,83.0,58.0,6.0,0.0,63.0,...,19.9,19.8,38.3,40.9,43.0,40.6,52.5,NaN,NaN,1923.0
14000US01001020200,2028.0,1091.0,60.0,109.0,51.0,46.0,50.0,16.0,5.0,35.0,...,33.5,NaN,NaN,40.4,39.7,40.7,65.6,NaN,NaN,2028.0
14000US01001020300,3476.0,1581.0,53.0,142.0,155.0,43.0,32.0,5.0,33.0,56.0,...,21.2,14.1,37.4,34.8,37.5,34.0,27.8,27.2,28.4,3476.0
14000US01001020400,3831.0,1867.0,149.0,144.0,86.0,40.0,37.0,9.0,13.0,50.0,...,18.1,18.5,9.0,46.5,42.4,51.8,50.2,NaN,NaN,3831.0
14000US01001020500,9883.0,4902.0,350.0,473.0,220.0,309.0,107.0,17.0,34.0,230.0,...,14.5,10.3,40.2,42.4,40.0,45.0,NaN,NaN,NaN,9883.0

In [45]:
tracts.columns

Index(['B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=359)

In [46]:
tracts = tracts.reset_index()

In [47]:
tracts.columns

# GEOID is now a column

Index(['GEOID', 'B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=360)

In [48]:
ca_tracts = tracts[tracts.GEOID.str.startswith('14000US06')]

In [49]:
ca_tracts.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [50]:
ca_tracts = ca_tracts[['GEOID','B01001_005E','B01001_006E','B01001_007E','B01001_029E','B01001_030E','B01001_031E','B01003_001E']]

In [51]:
#ca_tracts.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_15E':'ETM_45to49yr','B01001_16E':'ETM_50to54yr','B01001_17E':'ETM_55to59yr','B01001_18E':'ETM_60to61yr','B01001_19E':'ETM_62to64yr','B01001_20E':'ETM_65to66yr','B01001_21E':'ETM_67to69yr','B01001_22E':'ETM_70to74yr','B01001_23E':'ETM_75to79yr','B01001_24E':'ETM_80to84yr','B01001_24E':'ETM_85andover'})

In [52]:
ca_tracts = ca_tracts.rename(columns={'B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr','B01003_001E':'total_pop'})

In [53]:
ca_tracts = ca_tracts[['GEOID','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr', 'ETF_10_14yr','ETF_15to17yr','ETF_18to19yr','total_pop']]

In [54]:
ca_tracts

,GEOID,ETM_10to14yr,ETM_15to17yr,ETM_18to19yr,ETF_10_14yr,ETF_15to17yr,ETF_18to19yr,total_pop
3560,14000US06001400100,40.0,31.0,19.0,103.0,31.0,81.0,3115.0
3561,14000US06001400200,66.0,7.0,12.0,70.0,27.0,0.0,2025.0
3562,14000US06001400300,34.0,41.0,22.0,74.0,73.0,36.0,5000.0
3563,14000US06001400400,99.0,82.0,0.0,81.0,27.0,45.0,3843.0
3564,14000US06001400500,53.0,40.0,12.0,79.0,20.0,0.0,3786.0
...,...,...,...,...,...,...,...,...
11612,14000US06115040800,219.0,119.0,53.0,147.0,129.0,47.0,4524.0
11613,14000US06115040901,52.0,85.0,25.0,74.0,18.0,61.0,2836.0
11614,14000US06115040902,83.0,6.0,64.0,40.0,20.0,58.0,1630.0
11615,14000US06115041000,423.0,167.0,60.0,133.0,133.0,49.0,7319.0
11616,14000US06115041100,272.0,86.0,2.0,51.0,109.0,2.0,4447.0

In [55]:
ca_tracts['total_mf_10_19'] = ca_tracts['ETM_10to14yr'] + ca_tracts['ETM_15to17yr'] + ca_tracts['ETM_18to19yr'] + ca_tracts['ETF_10_14yr'] + ca_tracts['ETF_15to17yr'] + ca_tracts['ETF_18to19yr']

In [56]:
ca_tracts

,GEOID,ETM_10to14yr,ETM_15to17yr,ETM_18to19yr,ETF_10_14yr,ETF_15to17yr,ETF_18to19yr,total_pop,total_mf_10_19
3560,14000US06001400100,40.0,31.0,19.0,103.0,31.0,81.0,3115.0,305.0
3561,14000US06001400200,66.0,7.0,12.0,70.0,27.0,0.0,2025.0,182.0
3562,14000US06001400300,34.0,41.0,22.0,74.0,73.0,36.0,5000.0,280.0
3563,14000US06001400400,99.0,82.0,0.0,81.0,27.0,45.0,3843.0,334.0
3564,14000US06001400500,53.0,40.0,12.0,79.0,20.0,0.0,3786.0,204.0
...,...,...,...,...,...,...,...,...,...
11612,14000US06115040800,219.0,119.0,53.0,147.0,129.0,47.0,4524.0,714.0
11613,14000US06115040901,52.0,85.0,25.0,74.0,18.0,61.0,2836.0,315.0
11614,14000US06115040902,83.0,6.0,64.0,40.0,20.0,58.0,1630.0,271.0
11615,14000US06115041000,423.0,167.0,60.0,133.0,133.0,49.0,7319.0,965.0
11616,14000US06115041100,272.0,86.0,2.0,51.0,109.0,2.0,4447.0,522.0

In [68]:
#ca_tracts = ca_tracts[['GEOID', 'total_mf_10_19']]

In [57]:
ca_tracts = ca_tracts[['GEOID','total_pop']]

In [58]:
ca_tracts['GEOID'] = [v[7:] for v in ca_tracts.GEOID.values]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
ca_tracts.head()

            GEOID  total_pop
3560  06001400100     3115.0
3561  06001400200     2025.0
3562  06001400300     5000.0
3563  06001400400     3843.0
3564  06001400500     3786.0

In [27]:
#ca_tracts.to_csv('demographics_no_geoid.csv')

In [60]:
ca_tracts['GEOID'] = [v[:5] for v in ca_tracts.GEOID.values]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
ca_tracts.groupby(by='GEOID').sum()

        total_pop
GEOID
06001   1643700.0
06003      1146.0
06005     37829.0
06007    227075.0
06009     45235.0
06011     21464.0
06013   1133247.0
06015     27424.0
06017    186661.0
06019    978130.0
06021     27897.0
06023    135768.0
06025    180216.0
06027     18085.0
06029    883053.0
06031    150075.0
06033     64148.0
06035     31185.0
06037  10098052.0
06039    155013.0
06041    260295.0
06043     17540.0
06045     87422.0
06047    269075.0
06049      8938.0
06051     14174.0
06053    433212.0
06055    140530.0
06057     99092.0
06059   3164182.0
06061    380077.0
06063     18699.0
06065   2383286.0
06067   1510023.0
06069     59416.0
06071   2135413.0
06073   3302833.0
06075    870044.0
06077    732212.0
06079    281455.0
06081    765935.0
06083    443738.0
06085   1922200.0
06087    273765.0
06089    179085.0
06091      2930.0
06093     43540.0
06095    438530.0
06097    501317.0
06099    539301.0
06101     95872.0
06103     63373.0
06105     12862.0
06107    460477.0
06109     53932.0
06111    848112.0
06113    214977.0
06115     75493.0

In [62]:
demographics = gpd.read_parquet('dem_race_count.parquet')

In [63]:
demographics.head()

,GEOID,NAMELSAD,CountyName,geometry,total_mf_10_19,median_household_income,white,black,amind,asian,nh_pi,two_or_more
0,06091,Sierra County,Sierra,"POLYGON ((-120.65559 39.69356, -120.65552 39.6...",294.0,48125.0,2890.0,6.0,25.0,0.0,0.0,9.0
1,06067,Sacramento County,Sacramento,"POLYGON ((-121.18857 38.71431, -121.18731 38.7...",196932.0,21635098.0,875793.0,149064.0,10340.0,235474.0,16715.0,107565.0
2,06083,Santa Barbara County,Santa Barbara,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343...",64685.0,6803252.0,344026.0,8626.0,4389.0,23863.0,814.0,19996.0
3,06009,Calaveras County,Calaveras,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",4245.0,554899.0,41375.0,302.0,492.0,568.0,126.0,1825.0
4,06111,Ventura County,Ventura,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292...",116814.0,15141748.0,680197.0,14835.0,7069.0,61772.0,1771.0,37561.0

In [64]:
pop_dem = demographics.merge(ca_tracts.groupby(by='GEOID').sum(),on='GEOID')

In [65]:
pop_dem.head()

,GEOID,NAMELSAD,CountyName,geometry,total_mf_10_19,median_household_income,white,black,amind,asian,nh_pi,two_or_more,total_pop
0,06091,Sierra County,Sierra,"POLYGON ((-120.65559 39.69356, -120.65552 39.6...",294.0,48125.0,2890.0,6.0,25.0,0.0,0.0,9.0,2930.0
1,06067,Sacramento County,Sacramento,"POLYGON ((-121.18857 38.71431, -121.18731 38.7...",196932.0,21635098.0,875793.0,149064.0,10340.0,235474.0,16715.0,107565.0,1510023.0
2,06083,Santa Barbara County,Santa Barbara,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343...",64685.0,6803252.0,344026.0,8626.0,4389.0,23863.0,814.0,19996.0,443738.0
3,06009,Calaveras County,Calaveras,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",4245.0,554899.0,41375.0,302.0,492.0,568.0,126.0,1825.0,45235.0
4,06111,Ventura County,Ventura,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292...",116814.0,15141748.0,680197.0,14835.0,7069.0,61772.0,1771.0,37561.0,848112.0

In [66]:
pop_dem['white_rate'] = pop_dem['white']/pop_dem['total_pop']

In [67]:
pop_dem['black_rate'] = pop_dem['black']/pop_dem['total_pop']

In [68]:
pop_dem['amind_rate'] = pop_dem['amind']/pop_dem['total_pop']

In [69]:
pop_dem['asian_rate'] = pop_dem['asian']/pop_dem['total_pop']

In [70]:
pop_dem['nh_pi_rate'] = pop_dem['nh_pi']/pop_dem['total_pop']

In [71]:
pop_dem['two_or_more_rate'] = pop_dem['two_or_more']/pop_dem['total_pop']

In [72]:
pop_dem.head()

,GEOID,NAMELSAD,CountyName,geometry,total_mf_10_19,median_household_income,white,black,amind,asian,nh_pi,two_or_more,total_pop,white_rate,black_rate,amind_rate,asian_rate,nh_pi_rate,two_or_more_rate
0,06091,Sierra County,Sierra,"POLYGON ((-120.65559 39.69356, -120.65552 39.6...",294.0,48125.0,2890.0,6.0,25.0,0.0,0.0,9.0,2930.0,0.986348,0.002048,0.008532,0.000000,0.000000,0.003072
1,06067,Sacramento County,Sacramento,"POLYGON ((-121.18857 38.71431, -121.18731 38.7...",196932.0,21635098.0,875793.0,149064.0,10340.0,235474.0,16715.0,107565.0,1510023.0,0.579987,0.098716,0.006848,0.155941,0.011069,0.071234
2,06083,Santa Barbara County,Santa Barbara,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343...",64685.0,6803252.0,344026.0,8626.0,4389.0,23863.0,814.0,19996.0,443738.0,0.775291,0.019439,0.009891,0.053777,0.001834,0.045063
3,06009,Calaveras County,Calaveras,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",4245.0,554899.0,41375.0,302.0,492.0,568.0,126.0,1825.0,45235.0,0.914668,0.006676,0.010877,0.012557,0.002785,0.040345
4,06111,Ventura County,Ventura,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292...",116814.0,15141748.0,680197.0,14835.0,7069.0,61772.0,1771.0,37561.0,848112.0,0.802013,0.017492,0.008335,0.072835,0.002088,0.044288

In [73]:
#pop_dem.to_parquet('race_dem_rates.parquet')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  """Entry point for launching an IPython kernel.